<html>
   <body>
    <form action = "https://less-is-enough.herokuapp.com/single_prediction" method = "POST"
         enctype = "multipart/form-data">
         <button type="button" onclick="location.href = 'https://less-is-enough.herokuapp.com/single_prediction';">Single prediction</button>
    </form>
   <form action = "https://less-is-enough.herokuapp.com/compare_prices" method = "POST"
         enctype = "multipart/form-data">
         <button type="button" onclick="location.href = 'https://less-is-enough.herokuapp.com/compare_prices';">Compare possible prices</button>
    </form>
   </body>
</html>